{% load staticfiles %}
{% load copyrighttags %}

<footer class="footer footer-distributed">
	<div class="footer-right">
		<a href="http://www.facebook.com" target="_new"><img class="social-icon" src="{% static 'rosequinn/images/facebook.jpg' %}"></a>
		<a href="http://www.twitter.com" target="_new"><img class="social-icon" src="{% static 'rosequinn/images/twitter.jpg' %}"></a>
		<a href="http://www.youtube.com" target="_new"><img class="social-icon" src="{% static 'rosequinn/images/youtube.jpg' %}"></a>
	</div>
	<div class="footer-left">
		<p class="footer-links">
			<a id="link_privacy" href="/privacy">Privacy Policy</a>
			&bull;
			<a id="link_terms" href="/terms">Terms and Conditions</a>
		</p>
		<p>{{ company_name }} &copy; {% getCopyrightYears %}</p>
	</div>
</footer>
